
@{
    ViewBag.Title = "Gráfico de Evolucao Mensal Por Pátio";
}

<h2>@ViewBag.Title</h2>

<a href="#">NOVA CONSULTA</a>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <table>
            @*<tr>
                    <th colspan="2" style="height:100px; text-align:center"><b>GDP Dashboard of top Countries</b></th>
                </tr>*@
            <tr>
                @*<td rowspan="2">
                        <img src="@Url.Action("CreateCountryGDPBar")" />
                    </td>*@

                @*<td>
                        <img src="@Url.Action("ComparisonBar")" />
                    </td>*@

                <td class="text-center">
                    <img src="@Url.Action("EvolucaoMensalPorPatio", new { id = "1" })" />
                </td>

                @*<td>
                        <img src="@Url.Action("CreateCountryGDPPie")" />
                    </td>

                    <td>
                        <img src="@Url.Action("GerarGraficoFaturamentoPorDeposito")" />
                    </td>*@
            </tr>
        </table>

    </div>
    <div class="col-md-2"></div>
</div>