<body>
    <div class="main">
        @Html.Partial("../_Mensagens")
        @Html.Partial("../_QuadroConsulta")
        @Html.Partial("../_ResultadoGRV")
        @Html.Partial("../_ResultadoGRV_Itens")

        @Html.Partial("../_ProcedimentosLiberacao")
        @Html.Partial("../_Cadastro")
    </div>
</body>
