⁠⁠⁠@model Model.GRV.GRV

@{ List<Model.Faturamento.Servicos.ViewFaturamentoServicosGRV> ItensFaturamento = ViewBag.modelo; }
@{ string IdGRV = ViewBag.idgrv; }

@*<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">*@

<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">

        <div class="container-fluid">

            <img src="~/Imagens/logo.png" />
            <strong style="font-size: 25px; color: #efeded">Consulta de GRV</strong>

        </div>
    </div>
</body>

<div class="main">

    <div class="panel panel-info ">
        <div class="panel-heading ">
            <div class="row">
                <span class="panel-title ">

                    <div class="col-md-12 col-sm-12 ">
                        @*<span class="glyphicon glyphicon-user"></span>&nbsp; @HttpContext.Current.User.Identity.Name*@

                        <div class="dropdown ">
                            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="glyphicon glyphicon-user"></span>&nbsp; @HttpContext.Current.User.Identity.Name
                                <span class="caret"></span>
                            </button>


                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href='@Url.Action("RelatorioPRF", "Home")'><span class="glyphicon glyphicon-download"></span>&nbsp;&nbsp;&nbsp;Relatório - Estimativa de arrecadação PRF</a></li>
                                <li class="divider"></li>
                                <li><a href="#"><span class="glyphicon glyphicon-wrench"></span>&nbsp;&nbsp;&nbsp;Alterar minha senha</a></li>
                                <li><a href='@Url.Action("Logoff", "Login")'><span class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp;&nbsp;Sair</a></li>
                            </ul>
                        </div>
                    </div>

                </span>
            </div>
        </div>
    </div>

    @Html.Partial("../_Mensagens")<br />

    <div class="panel panel-warning">
        <div class="panel-heading">
            <span class="panel-title">

                @using (Html.BeginForm())
                {
                <div class="form-horizontal">

                    <div class="row">
                        <div class="col-md-2">
                            Placa: <input type="text" class="form-control input-sm" placeholder="Digite placa" name="placa" autofocus="" value="@ViewBag.pPlaca" />
                        </div>

                        <div class="col-md-2">
                            Chassi: <input type="text" class="form-control input-sm" placeholder="Digite chassi" name="chassi" value="@ViewBag.pChassi" />
                        </div>

                        <div class="col-md-2">
                            Nº GRV: <input type="text" class="form-control input-sm" placeholder="Digite GRV" name="grv" value="@ViewBag.pGrv" />
                        </div>

                        <div class="col-md-1">
                            &nbsp;<input type="submit" class="form-control btn-primary input-sm" value="Consultar" />
                        </div>

                    </div>

                </div>
                }

            </span>
        </div>
        @*<div class="panel-body">
            </div>*@
    </div>

    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title">Informações do processo</h3>
        </div>
        <div class="panel-body">

            <div class="row">
                <div class="col-md-12">
                    @*<h4>Informações do Veículo</h4><hr />*@

                    <div class="col-md-2 col-sm-2">
                        <span>Formulário GRV:</span><br />
                        <span>Placa:</span><br />
                        <span>Renavam:</span><br />
                        <span>Chassi:</span><br />
                        <span>Marca/Modelo:</span><br />
                        <span>Tipo de Veículo:</span><br />
                        <span>Data/Hora Guarda:</span>
                    </div>

                    <div class="col-md-10 col-sm-10">
                        <code id="lblTipoVeiculo">@ViewBag.numero_formulario_grv</code><br />
                        <code id="lblPlaca">@ViewBag.placa</code><br />
                        <code id="lblRenavam">@ViewBag.renavam</code><br />
                        <code id="lblChassi">@ViewBag.chassi</code><br />
                        <code id="lblMarcaModelo">@ViewBag.marcaModeloDesc</code><br />
                        <code id="lblTipoVeiculo">@ViewBag.tipoVeiculoDesc</code><br />
                        <code id="lblTipoVeiculo">@ViewBag.data_hora_guarda</code><br />
                    </div>



                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title">Serviços prestados</h3>
        </div>
        <div class="panel-body">



            <div class="row">

                @if (ItensFaturamento != null)
                {
                <div class="col-md-12">

                    <span class="text-center">
                        *Os valores exibidos abaixo, são válidos somente para esta data - @DateTime.Now.ToShortDateString()
                    </span>

                    @*<span>Detalhamento das cobranças</span><hr />*@

                    <table class="table table-condensed table-condensed table-sm">
                        <tr style="background-color: #efeded">
                            <th>
                                Tipo
                            </th>
                            <th>
                                Valor
                            </th>
                            <th>
                                Quantidade
                            </th>
                            <th>
                                Subtotal
                            </th>
                        </tr>

                        @{ decimal total = 0; string servico_descricao = string.Empty; }

                        @foreach (var item in ItensFaturamento)
                            {

                                if (servico_descricao == item.servico_descricao)
                                {
                                    continue;
                                }
                                else
                                {
                                    servico_descricao = item.servico_descricao;
                                }

                                if (item.flag_realizar_cobranca == 'N')
                                {
                                    continue;
                                }

                                if (item.flag_rebocada == 'S' && Model.flag_comboio == 'S')
                                {
                                    continue;
                                }

                        <tr>

                            @if (item.tipo_cobranca == 'D')
                                    {
                                @*tipo*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.servico_descricao)
                                </td>

                                @*Valor unitário*@
                                <td>
                                    R$&nbsp;@Html.DisplayFor(modelItem => item.preco_padrao)
                                </td>

                                        int diarias = ViewBag.diarias;

                                        //Quantidade
                                <td>
                                    @Html.DisplayFor(modelItem => diarias)
                                </td>

                                        //Subtotal
                                <td>
                                    @{ decimal subtotal = item.preco_padrao * diarias;}

                                    R$&nbsp;@Html.DisplayFor(modelItem => subtotal)
                                </td>

                                                    total += item.preco_padrao * diarias;
                                                }
                                                else if (item.tipo_cobranca == 'Q')
                                                {
                                                    if (item.flag_rebocada == 'S')
                                                    {
                                                        item.valor = 1;
                                                    }

                                                    if (item.valor == 0)
                                                    {
                                                        continue;
                                                    }

                                @*tipo*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.servico_descricao)
                                </td>

                                @*Valor unitário*@
                                <td>
                                    R$&nbsp;@Html.DisplayFor(modelItem => item.preco_padrao)
                                </td>

                                                    decimal valor = item.valor;

                                                    if (item.valor == 0 && item.flag_servico_obrigatorio == 'S')
                                                    {
                                                        valor = 1;
                                                    }

                                <td>
                                    @Html.DisplayFor(modelItem => valor)
                                </td>

                                <td>
                                    @{ decimal subtotal = item.preco_padrao * valor;}
                                    R$&nbsp;@Html.DisplayFor(modelItem => subtotal)
                                </td>

                                                                total += item.preco_padrao * valor;
                                                            }
                        </tr>
                                                            }

                        <tfoot class="bg-primary">
                            <tr>
                                <th>Total</th>
                                <th></th>
                                <th></th>
                                <th>R$ @Html.DisplayFor(modelItem => total)</th>
                                @{ ViewBag.nota = total.ToString("c"); }
                            </tr>
                        </tfoot>

                    </table>

                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal_procedimentos_liberacao">
                        <span class="glyphicon glyphicon-barcode"></span> Pagamento
                    </button>
                </div>


                                        }




            </div>
        </div>
    </div>

</div>

@Html.Partial("../_ProcedimentosLiberacao")
@Html.Partial("../_Cadastro")