@model IEnumerable<MobLink.ConsultaGRV.Web.Models.Relatorio>

@{
    ViewBag.Title = "Relatorio";
    SelectList clientes = ViewBag.clientes;
    SelectList depositos = ViewBag.depositos;
}

<h2>Relatorio</h2>
<hr />
@using (Html.BeginForm())
{
            @Html.DropDownList("CLIENTE", clientes, "Selecione um cliente")
            @Html.DropDownList("DEPOSITO", depositos, "Selecione um depósito")
            <input type="submit" value="Enviar" />
            <button value="1" name="EXCEL">Gerar Excel</button>

            <span>   @ViewBag.count registro(s) encontrado(s).</span>
}

<hr />

<table class="table">
    <tr>
        <th>
            GRV
        </th>
        <th>
            PLACA
        </th>
        <th>
            CHASSI
        </th>
        <th>
            MARCA/MODELO
        </th>
        <th>
            TIPO
        </th>
        <th>
            COR
        </th>
        <th>
            REMOÇÃO
        </th>
        <th>
            GUARDA
        </th>
        <th>
            VALOR
        </th>
    </tr>

    @{ decimal totaldetudo = 0; }

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.numero_formulario_grv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.placa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.chassi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.marca_modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipo_veiculo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.data_hora_remocao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.data_hora_guarda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorTotalAteHoje)
            </td>
        </tr>


        //totaldetudo += Convert.ToDecimal(item.ValorTotalAteHoje);
    }

</table>


@*total de tudo : @totaldetudo*@
