<div class="modal fade" id="modal_cadastro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title text-center" id="myModalLabel">
                    <strong>DADOS PARA NOTA FISCAL</strong><br />
                    @*Valor Total da nota: <span style="color: green"><strong>@ViewBag.nota</strong></span>*@
                </h3>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm())
                {
                    if (Model != null)
                    {
                        <input type="hidden" value="@Model.id_grv" name="GRV" />
                    }

                    <div class="form-group">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group ">
                                    <span class="input-group-addon ">
                                        <strong>Documento</strong>
                                        &nbsp;&nbsp;CPF&nbsp;&nbsp;<input type="radio" name="TIPO_DOC" id="radioCPF" value="0" checked>
                                        &nbsp;&nbsp;CNPJ&nbsp;&nbsp;<input type="radio" name="TIPO_DOC" id="radioCNPJ" value="1">
                                    </span>
                                    <input type="text" required="" class="form-control" name="DOC" id="txtdoc" value="@ViewBag.pPlaca" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-success" id="btnpesquisadoc" type="button" onclick="BuscaDOC()">Pesquisar</button>
                                    </span>
                                </div><!-- /input-group -->
                            </div>
                        </div>

                        <br />

                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group ">
                                    <span class="input-group-addon ">
                                        <strong>Nome</strong>
                                    </span>
                                    <input type="text" required="" class="form-control" placeholder="Digite o nome" name="NOME" autofocus="" id="txtnome" value="@ViewBag.pPlaca" />
                                </div><!-- /input-group -->
                            </div>
                        </div>

                        <br />

                        <div class="row">
                            <div class="col-md-4">
                                <div class="input-group">
                                    <span class="input-group-addon" id="sizing-addon2">
                                        <strong>CEP</strong>
                                    </span>
                                    <input onblur="buscaAjax()" type="text" id="txtcep" required="" class="form-control" placeholder="Digite CEP" name="CEP" autofocus="" value="@ViewBag.pPlaca" />
                                    <span class="input-group-btn">
                                        <button onclick="BuscaCEP()" type="button" id="btnpesquisacep" data-loading-text="Loading..." class="btn btn-success" autocomplete="off">
                                            Pesquisar
                                        </button>
                                    </span>
                                </div>

                            </div>

                            <div class="col-md-8">
                                <div class="input-group ">
                                    <span class="input-group-addon ">
                                        <strong>Endereço</strong>
                                    </span>
                                    <input type="text" required="" class="form-control" placeholder="Digite endereço" id="txtendereco" name="ENDERECO" autofocus="" value="@ViewBag.pPlaca" />

                                </div><!-- /input-group -->
                            </div>
                        </div>

                        <br />

                        <div class="row">
                            <div class="col-md-2">
                                <div class="input-group ">
                                    <span class="input-group-addon ">
                                        <strong>Nº</strong>
                                    </span>
                                    <input type="text" id="txtnumero" required="" class="form-control" placeholder="Nº" name="NUMERO" autofocus="" value="@ViewBag.pPlaca" />
                                </div><!-- /input-group -->
                            </div>

                            <div class="col-md-5">
                                <div class="input-group ">
                                    <span class="input-group-addon ">
                                        <strong>Complemento</strong>
                                    </span>
                                    <input type="text" class="form-control" id="txtcomplemento" placeholder="Digite complemento" name="COMPLEMENTO" autofocus="" value="@ViewBag.pPlaca" />
                                </div><!-- /input-group -->
                            </div>

                            <div class="col-md-5">
                                <div class="input-group ">
                                    <span class="input-group-addon ">
                                        <strong>Bairro:</strong>
                                    </span>
                                    <input type="text" required="" class="form-control" placeholder="Digite bairro" name="BAIRRO" id="txtbairro" autofocus="" value="@ViewBag.pPlaca" />
                                </div><!-- /input-group -->
                            </div>
                        </div>

                        <br />

                        <div class="row">
                            <div class="col-md-7">
                                <div class="input-group ">
                                    <span class="input-group-addon ">
                                        <strong>Município</strong>
                                    </span>
                                    <input type="text" required="" class="form-control" placeholder="Digite município" name="MUNICIPIO" id="txtmunicipio" autofocus="" value="@ViewBag.pPlaca" />
                                </div><!-- /input-group -->
                            </div>

                            <div class="col-md-2">
                                <div class="input-group ">
                                    <span class="input-group-addon ">
                                        <strong>UF</strong>
                                    </span>
                                    <input type="text" id="txtuf" required="" class="form-control" placeholder="UF" name="UF" autofocus="" value="@ViewBag.pPlaca" />
                                </div><!-- /input-group -->
                            </div>
                        </div>

                        <br />

                        <div class="row">
                            <div class="col-md-3">
                                <div class="input-group ">
                                    <span class="input-group-addon ">
                                        <strong>DDD</strong>
                                    </span>
                                    <input type="text" id="txtddd" required="" class="form-control" placeholder="Digite DDD" name="DDD" autofocus="" value="@ViewBag.pPlaca" />
                                </div><!-- /input-group -->
                            </div>

                            <div class="col-md-7">
                                <div class="input-group ">
                                    <span class="input-group-addon ">
                                        <strong>Telefone</strong>
                                    </span>
                                    <input type="text" required="" id="txttelefone" class="form-control" placeholder="Digite telefone" name="TELEFONE" autofocus="" value="@ViewBag.pPlaca" />
                                </div><!-- /input-group-->
                            </div>
                        </div>

                        <br />

                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group ">
                                    <span class="input-group-addon ">
                                        <strong>Email</strong>
                                    </span>
                                    <input type="text" id="txtemail" required="" class="form-control" placeholder="Digite Email" name="EMAIL" autofocus="" value="@ViewBag.pPlaca" />
                                </div><!-- /input-group -->
                            </div>
                        </div>

                    </div>  @*FormGroup*@

                    <div class="modal-footer">
                        <div class="text-center">
                            <p id="resultado"></p>
                            <h4>
                                <strong>
                                    DIGITE OS SEUS DADOS E CLIQUE EM CONFIRMAR. APÓS A GERAÇÃO DO BOLETO, VOCÊ PODERÁ RECEBE LO NO E-MAIL CADASTRADO.
                                </strong>
                            </h4>
                        </div>

                        <hr />

                        <button type="button" class="btn btn-primary" data-dismiss="modal">CANCELAR</button>
                        <button type="submit" class="btn btn-success" data-dismiss="" value="true" name="EMITE_BOLETO">&nbsp;&nbsp;CONFIRMAR&nbsp;&nbsp;</button>
                    </div>
                }
            </div>


        </div>

    </div>
</div>

<script src="~/js/jquery-3.2.0.min.js"></script>
<script src="~/js/jquery.maskedinput.min.js"></script>

<script>
    $(document).ready(function () {

    });
    
    $("#txtcep").mask("99999-999", { selectOnFocus: true });
    $("#txtddd").mask("(99)", { selectOnFocus: true });
    $("#txttelefone").mask("99999-9999", { selectOnFocus: true });
    $("#txtuf").mask("aa", { selectOnFocus: true });
</script>

<script>
    $('#btnpesquisacep').on('click', function () {
        var $btn = $(this).button('loading')

        BuscaCEP();

        $btn.button('reset')
    })
</script>

<script type="text/javascript">

    function BuscaCEP() {
        $.ajax({
            url: '@Url.Action("../GRV/BuscaCEP")',
            data: { cep: $("#txtcep").val() },
            type: "post",
            dataType: "json",
            beforeSend: function (XMLHttpRequest) {
                $("#resultado").empty();
                $("#resultado").append("PESQUISANDO");
                $('#btnpesquisacep').text("AGUARDE");
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $("#resultado").empty();
                $("#resultado").append("CEP NÃO ENCONTRADO " + "textStatus: " + textStatus + " - errorThrown: " + errorThrown + " - XMLHttpRequest: " + XMLHttpRequest.text);
            },
            success: function (data, textStatus, XMLHttpRequest) {
                $("#resultado").empty();
                //$("#resultado").append(data["cep"]);
                $("#txtendereco").val(data["end"]);
                $("#txtmunicipio").val(data["cidade"]);
                $("#txtuf").val(data["uf"]);
                $("#txtbairro").val(data["bairro"]);
                $("#txtnumero").focus();

                //$(data).each(function () {
                //    $("#resultado").append("Nome: " + this.Nome + " Sobrenome:"
                //        + this.Sobrenome + " <br/>");

                //});
            },
            complete: function () {
                $('#btnpesquisacep').text("Pesquisar");
                //$("#resultado").text("CONSULTA REALIZADA");
            }

        });
    }
</script>

<script type="text/javascript">

    function BuscaDOC() {
        var textoURL = '@Url.Action("BuscaDOC")';
        var textoDATA = $("#txtdoc").val();

        $.ajax({
            url: '@Url.Action("../GRV/BuscaDOC")',
            data: { DOC: $("#txtdoc").val() },
            type: "post",
            dataType: "json",
            beforeSend: function (XMLHttpRequest) {
                $("#resultado").empty();
                $("#resultado").append("PESQUISANDO");
                $('#btnpesquisadoc').text("AGUARDE");
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $("#resultado").empty();
                $("#resultado").append("DOCUMENTO NÃO ENCONTRADO");
            },
            success: function (data, textStatus, XMLHttpRequest) {
                $("#resultado").empty();

                $("#txtnome").val(data["nome"]);
                $("#txtdoc").val(data["documento"]);
                $("#txtendereco").val(data["endereco"]);
                $("#txtnumero").val(data["numero"]);
                $("#txtcomplemento").val(data["complemento"]);

                $("#txtbairro").val(data["bairro"]);
                $("#txtmunicipio").val(data["municipio"]);
                $("#txtuf").val(data["uf"]);
                $("#txtcep").val(data["cep"]);
                $("#txtddd").val(data["ddd"]);

                $("#txtddd").val(data["ddd"]);
                $("#txttelefone").val(data["telefone"]);
                $("#txtemail").val(data["email"]);

                //$(data).each(function () {
                //    $("#resultado").append("Nome: " + this.Nome + " Sobrenome:"
                //        + this.Sobrenome + " <br/>");

                //});
            },
            complete: function () {
                $('#btnpesquisadoc').text("Pesquisar");
                //$("#resultado").text("CONSULTA REALIZADA");
            }

        });
    }
</script>

<script>
    $("#radioCPF").click(function () {
        //$("#doc").mask("999.999.999-99");
        $("#txtdoc").focus();
    });

    $("#radioCNPJ").click(function () {
        //$("#doc").mask("99.999.999/9999-99");
        $("#txtdoc").focus();
    });

    $("#doc").focus(function () {
        $("#txtdoc").unmask();
        $("#txtdoc").html("");
    });

    $("#doc").blur(function () {

        var valor = $("#txtdoc").val();
        var numsStr = valor.replace(/[^0-9]/g, '');

        $("#txtdoc").unmask();

        //var tamanho = $("#doc").val().length;
        var tamanho = numsStr.length;

        if (tamanho <= 11) {
            $("#txtdoc").mask("999.999.999-99");
        } else if (tamanho > 11) {
            $("#txtdoc").mask("99.999.999/9999-99");
        }

        //$("#doc").val(numsStr);
    });
</script>

<script>
    $('#modal_cadastro').on('show.bs.modal', function (e) {
        $('#modal_procedimentos_liberacao').modal('hide')    
    })
</script>