@using Model.GRV
@model GRV

@{ List<Model.Faturamento.Servicos.ViewFaturamentoServicosGRV> ItensFaturamento = ViewBag.modelo; }
@{ Model.Atendimento.Atendimento Atendimento = ViewBag.atendimento; }
@{ Model.Report.ViewBoleto Boleto = ViewBag.boleto; }


<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">Serviços prestados</h3>
    </div>
    <div class="panel-body">

        <div class="row">

            @if (ItensFaturamento != null)
            {
                <div class="col-md-12">

                    <span class="text-center">
                        *Os valores exibidos abaixo, são válidos somente para esta data - @DateTime.Now.ToShortDateString()
                    </span>

                    <table class="table table-condensed table-condensed table-sm">
                        <tr style="background-color: #efeded">
                            <th>
                                Tipo
                            </th>
                            <th>
                                Valor
                            </th>
                            <th>
                                Quantidade
                            </th>
                            <th>
                                Subtotal
                            </th>
                        </tr>

                        @{ decimal total = 0; string servico_descricao = string.Empty; }

                        @foreach (var item in ItensFaturamento)
                        {
                            if (servico_descricao == item.servico_descricao ||
                                item.flag_realizar_cobranca == 'N' ||
                                item.flag_rebocada == 'S' && Model.flag_comboio == 'S') { continue; }

                            servico_descricao = item.servico_descricao;

                            <tr>

                                @if (item.tipo_cobranca == 'D')
                                {
                                    <td>@Html.DisplayFor(modelItem => item.servico_descricao)</td>
                                    <td>R$&nbsp;@Html.DisplayFor(modelItem => item.preco_padrao)</td>

                                    int diarias = ViewBag.diarias;

                                    <td>@Html.DisplayFor(modelItem => diarias)</td>

                                    decimal subtotal = item.preco_padrao * diarias;

                                    <td>R$&nbsp;@Html.DisplayFor(modelItem => subtotal)</td>

                                    total += item.preco_padrao * diarias;
                                }
                                else if (item.tipo_cobranca == 'Q')
                                {
                                    if (item.flag_rebocada == 'S')
                                    {
                                        item.valor = 1;
                                    }

                                    if (item.valor == 0)
                                    {
                                        continue;
                                    }

                                    <td>@Html.DisplayFor(modelItem => item.servico_descricao)</td>
                                    <td>R$&nbsp;@Html.DisplayFor(modelItem => item.preco_padrao)</td>

                                    decimal valor = item.valor;

                                    if (item.valor == 0 && item.flag_servico_obrigatorio == 'S')
                                    { valor = 1; }

                                    <td>@Html.DisplayFor(modelItem => valor)</td>

                                    decimal subtotal = item.preco_padrao * valor;

                                    <td>R$&nbsp;@Html.DisplayFor(modelItem => subtotal)</td>

                                    total += item.preco_padrao * valor;
                                }
                                else if (item.tipo_cobranca == 'H')
                                {
                                    if (item.tempo_trabalhado == "")
                                    {
                                        continue;
                                    }

                                    <td>@Html.DisplayFor(modelItem => item.servico_descricao)</td>
                                    <td>R$&nbsp;@Html.DisplayFor(modelItem => item.preco_padrao)</td>

                                    var preco_padrao = item.preco_padrao;

                                    decimal tempo_trabalhado = Convert.ToDecimal(TimeSpan.Parse(item.tempo_trabalhado).TotalHours);

                                    <td>@Html.DisplayFor(modelItem => item.tempo_trabalhado)</td>

                                    var valor = tempo_trabalhado * preco_padrao;

                                    <td>R$&nbsp;@Html.DisplayFor(modelItem => valor)</td>

                                    total += valor;



                                }

                            </tr>
                        }

                        <tfoot class="bg-primary">
                            <tr>
                                <th>Total</th>
                                <th></th>
                                <th></th>
                                <th>R$ @Html.DisplayFor(modelItem => total)</th>
                                @{ ViewBag.nota = total.ToString("c"); }
                            </tr>
                        </tfoot>

                    </table>

                    @{
                        if (Atendimento != null)
                        {
                            if (Convert.ToDateTime(Boleto.vencimento).Date < DateTime.Now.Date)
                            {
                                <div class="panel panel-danger">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">
                                            <strong>
                                                BOLETO VENCIDO - CLIQUE NO BOTÃO ABAIXO PARA REGERAR O BOLETO<br /><br />
                                                @Boleto.sacado_nome.ToUpper()
                                            </strong>
                                        </h3>
                                        <h6>
                                            @Boleto.cedente_banco_nome.ToUpper() &nbsp;&nbsp;
                                            VENCIMENTO: @Boleto.vencimento &nbsp;&nbsp;
                                            VALOR: R$ @Boleto.valor_boleto
                                        </h6>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                @using (Html.BeginForm())
                                                {
                                                    <input type="hidden" name="GRV" value="@Model.id_grv" />
                                                    <button type="submit" class="btn btn-danger" value="true" name="ATUALIZA_BOLETO">
                                                        <span class="glyphicon glyphicon-barcode"></span>&nbsp;REGERAR BOLETO
                                                    </button>
                                                }
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            }
                            else if (Convert.ToDateTime(Boleto.vencimento).Date >= DateTime.Now.Date)
                            {
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">

                                            <strong>@Boleto.sacado_nome.ToUpper()</strong><br />
                                        </h3>
                                        <h6>
                                            @Boleto.cedente_banco_nome.ToUpper() &nbsp;&nbsp;
                                            VENCIMENTO: @Boleto.vencimento &nbsp;&nbsp;
                                            VALOR: R$ @Boleto.valor_boleto
                                        </h6>
                                    </div>
                                    <div class="panel-body">

                                        <div class="row">
                                            <div class="col-md-6">
                                                @{
                                                    using (Html.BeginForm())
                                                    {
                                                        <input type="hidden" name="GRV" value="@Model.id_grv" />
                                                        <button type="submit" class="btn btn-info" value="true" name="ENVIA_EMAIL">
                                                            <span class="glyphicon glyphicon-barcode"></span>&nbsp;ENVIAR NOVAMENTE POR E-MAIL
                                                        </button>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal_procedimentos_liberacao">
                                                            <span class="glyphicon glyphicon-barcode"></span> Pagamento
                                                        </button>
                                                    }

                    }

                </div>
                                                    }

        </div>
    </div>
</div>